# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
run
runs
logs
crash-reports
*.log

# local
.claude
.code-review-graph
.code-review-graphignore
note
.reference
.vscode

# kit
latest.log
debug.log
modlist.md